FE_URL=
PORT=
NODE_ENV=

# DB url
DATABASE_URL=

# JWT secrets
ACCESS_JWT_SECRET=
REFRESH_JWT_SECRET=

# Gmail credentials
GMAIL_USER=
GMAIL_PASS=

# Razorpay credentials
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Gemini api key
GEMINI_API_KEY=

# Upstash credentials
UPSTASH_REDIS_URL=